.hotspot-card {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 55px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  max-width: 33%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hotspot-card.left {
  border-radius: 10px 10px 10px 0;
}
.hotspot-card.right {
  border-radius: 10px 10px 0 10px;
}
.hotspot-card::before {
  content: '';
  position: absolute;
  bottom: -11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: rgba(255,255,255,0.4) transparent transparent transparent;
}
.hotspot-card.left::before {
  left: -1px;
}
.hotspot-card.right::before {
  right: -1px;
}
.hotspot-card__thumbnail {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
.hotspot-card__text {
  padding: 10px;
  margin: 0;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
.hotspot-card.left .hotspot-card__text {
  border-radius: 0 0 10px 0;
}
.hotspot-card.right .hotspot-card__text {
  border-radius: 0 0 0 10px;
}

@media screen and (max-width: 640px) {
  .hotspot-card__text {
    overflow-y: scroll;
    max-height: 80px;
    font-size: 12px;
  }
}
